/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #2b2b2b;
  background: #2b2b2b;
 }

.reveal {
  min-height: 100%;
  font-family: 'eausans_book', sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #d1d1d1;
}

::selection {
  color: #FFF;
  background: #b13130;
  text-shadow: none; }

#global-footer {
  position: absolute;
  bottom: .5em;
  left: .5em;
  z-index: 1000;
}

#global-footer img {
  padding: .25em;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #FFF;
  font-family: 'museo_sans_500regular', Impact, sans-serif;
  line-height: 1em;
  text-transform: none;
  text-shadow: none; }

.reveal h1 {
  color: #b13130;
  font-size: 2.8em; }

.slides ul,
.slides ol,
.slides p { display: block; margin-bottom: 1em; line-height: 1.5em; text-align: left; }
.slides ul ul, .slides ul ol, .slides ol ul, .slides ol ol { margin-bottom: 0; }

.reveal blockquote { padding: .5em; }
.reveal blockquote p.cite { display: block; font-size: .8em; text-align: right; }
.reveal blockquote p.cite:before { content: '\2013\00a0'; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #b13130;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #912928;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #b13130; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #ebebeb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #b13130;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #FFF; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #FFF; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #FFF; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #FFF; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #b13130; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #b13130; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #b13130; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #b13130; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #b13130;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * CUSTOM FONTS
 *********************************************/

@font-face {
    font-family: 'eausans_bold';
    src: url('fonts/eau_sans_bold-webfont.eot');
    src: url('fonts/eau_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eau_sans_bold-webfont.woff') format('woff'),
         url('fonts/eau_sans_bold-webfont.ttf') format('truetype'),
         url('fonts/eau_sans_bold-webfont.svg#eausans_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eausans_book';
    src: url('fonts/eau_sans_book-webfont.eot');
    src: url('fonts/eau_sans_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eau_sans_book-webfont.woff') format('woff'),
         url('fonts/eau_sans_book-webfont.ttf') format('truetype'),
         url('fonts/eau_sans_book-webfont.svg#eausans_book') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eausans_bold_oblique';
    src: url('fonts/eau_sans_bold_obl-webfont.eot');
    src: url('fonts/eau_sans_bold_obl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eau_sans_bold_obl-webfont.woff') format('woff'),
         url('fonts/eau_sans_bold_obl-webfont.ttf') format('truetype'),
         url('fonts/eau_sans_bold_obl-webfont.svg#eausans_bold_oblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eausans_book_oblique';
    src: url('fonts/eau_sans_book_obl-webfont.eot');
    src: url('fonts/eau_sans_book_obl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eau_sans_book_obl-webfont.woff') format('woff'),
         url('fonts/eau_sans_book_obl-webfont.ttf') format('truetype'),
         url('fonts/eau_sans_book_obl-webfont.svg#eausans_book_oblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_500regular';
    src: url('fonts/MuseoSans_500-webfont.eot');
    src: url('fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('fonts/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}